.btn-Img{
    position: fixed;
	width:30%;   
	top: 0%;	
	background-color:#20D3CA;
	border:1px solid #fff;
	cursor:pointer;
	color:#ffffff;
	font-size:100%;
}
.btn-Img:hover{
	background-color:#3D9A95;
}
.btn-Img:active {
	position:fixed;
}
.btn-Img{
	left: 0%;
}

.btn-Clr{
    position: fixed;
	width:30%;   
	top: 0%;	
	background-color:#20D3CA;
	border:1px solid #fff;
	cursor:pointer;
	color:#ffffff;
	font-size:100%;
}
.btn-Clr:hover{
	background-color:#3D9A95;
}
.btn-Clr:active {
	position:fixed;
}
.btn-Clr{
	left: 70%;
}
.btn-Send{
	position: fixed;
	background-color:#20D3CA;
	border:1px solid #fff;
	cursor:pointer;
	color:#ffffff;
	left: 87%;
}
.btn-Send:hover{
	position:fixed;
	background-color:#3D9A95;
}
.btn-Send:active {
	position:fixed;
}