/*Phones*/
@media screen and (orientation:portrait) and (min-width: 300px) and (max-width: 500px) and (min-height: 390px) and (max-height:750px) {
	.site-header{
			 height: 7%;		
		 	 }
		 	 .site-content,.site-messages{
			  top:7%;
			  height: 85%;
		 	 } 
		 	 .site-footer{
		 	 top:92%;
		 	 bottom: 0%;
		 	 }
			.btn-Clr,.btn-Img{
			 height: 7%;
		 	 }
		 	 .btn-Send,input.textBox{
			 top: 93%;
			 font-size:110%; 
			 height: 4%;
		 	 }
			.btn-Send{
				height: 5%;
				width: 9%;
			 }
}
@media screen and (orientation:landscape) and (min-width: 400px) and (max-width: 750px) and (min-height: 230px) and (max-height:500px) {
			.site-header,.btn-Clr,.btn-Img{
			 height: 15%;		
		 	 }
		 	 .site-content,.site-messages{
			  top:15%;
			  height: 70%;
		 	 } 
		 	 .site-footer{
		 	 top:85%;
		 	 bottom: 0%;
		 	 }
		 	 .btn-Send,input.textBox{
			 top: 87%;
			 font-size:110%; 
			 height: 9%;
		 	 }
			.btn-Send{
				height: 11%;
				width: 9%;
			 }
}
@media screen and (orientation:landscape) and (max-height: 400px) and (min-height: 100px) and (max-width: 300px){
			.site-header,.btn-Clr,.btn-Img{
			 height: 0%;		
		 	 }
		 	 .site-content,.site-messages{
			  top:0%;
			  height: 75%;
		 	 } 
		 	 .site-footer{
		 	 top:75%;
		 	 bottom: 0%;
		 	 }
		 	 .btn-Send,input.textBox{
			 top: 77%;
			 font-size:120%; 
			 height: 15%;
		 	 }
			.btn-Send{
				height: 17%;
				width: 9%;
			 }
}
@media screen and (orientation:landscape) and (max-height: 100px) and (min-height: 20px){
			.site-header,.btn-Clr,.btn-Img{
			 height: 0%;		
		 	 }
		 	 .site-content,.site-messages{
			  top:0%;
			  height: 0%;
		 	 } 
		 	 .site-footer{
		 	 top:0%;
		 	 bottom: 0%;
		 	 }
		 	 .btn-Send,input.textBox{
			 top: 20%;
			 font-size:150%; 
			 height: 60%;
		 	 }
			.btn-Send{
				height: 62%;
				width: 9%;
			 }
}